%img{:src=> @request.media_url}
%a{:href => ""+@request.id.to_s() +"/remote_post"} Post to Taskrabbit
.service{:class=>@request.service_name}= @request.service_name
.time= @request.requested_datetime
%p.description= @request.description
- if(@request.tr_id != nil)
	.tr_id= "TR id:" + @request.tr_id
	.tr_url= "TR url: " + @request.tr_url