%html
	%head
		%title WeFix
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= include_gon
		= csrf_meta_tags
		%meta{:name => "viewport", :content => "width=device-width"}
	%body{:class => "#{controller.controller_name} #{controller.action_name}"}
		#container.wide
			%header
				.account
					- if(cookies[:user_id] != nil)
						%p.logged_in= "Logged in as " + User.find(cookies[:user_id]).display_name
						%a.logout{:href => url_for(:action => 'logout', :controller => 'user')} Logout
					- else
						- key = ENV['tr_key'] || APP_CONFIG['taskrabbit'][:key]
						%a.login{:href => 'https://sandbox-wefix0001.taskrabbitdev.com/api/authorize?client_id=' + key}
							Login with Taskrabbit
				%h1.logo= link_to 'WeFix', :controller => 'home', :action => 'index'
				.city_selector
					Boston
			#content
				- if(flash[:error] != nil)
					.error= flash[:error]
				= yield
		%footer
			/ %p &copy; 2012 Stanford Rosenthal