%html
	%head
		%title WeFix
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#container.wide
			%header
				%h1 WeFix
				%h2
					- if(cookies[:user_id] != nil)
						= "Logged in as " + User.find(cookies[:user_id]).display_name
					- else
						crowdfunded community action
				.clear
			= yield
		%footer
			%p &copy; 2012 Stanford Rosenthal