%html
	%head
		%title WeFix
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#container.wide
			%header
				- if(cookies[:user_id] != nil)
					= "Logged in as " + User.find(cookies[:user_id]).display_name
				- else
					%a.login{:href => 'https://sandbox-wefix0001.taskrabbitdev.com/api/authorize?client_id=bF4O8pr2Q9f2OID2VocZJEgwMYCn834Qs3j8cmOp'}
						Login with Taskrabbit
				%h1.logo= link_to 'Wefix', :controller => 'home', :action => 'index'
				.city_selector
					Boston
				/ %nav.main
				/ 	%ul
				/ 		%li
				/ 			%a Propose
				/ 		%li
				/ 			%a Fund
				/ 		%li
				/ 			%a Do
			#content{:class => "#{controller.controller_name} #{controller.action_name}"}
				- if(flash[:error] != nil)
					.error= flash[:error]
				= yield
		%footer
			/ %p &copy; 2012 Stanford Rosenthal