%html
	%head
		%title WeFix
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#container.wide
			%header
				%h1 WeFix
				.city_selector
					Boston
				%nav.main
					%ul
						%li
							%a Submit
						%li
							%a Browse
						%li
							- if(cookies[:user_id] != nil)
								= "Logged in as " + User.find(cookies[:user_id]).display_name
							- else
								%a{:href => 'https://sandbox-wefix0001.taskrabbitdev.com/api/authorize?client_id=bF4O8pr2Q9f2OID2VocZJEgwMYCn834Qs3j8cmOp'}
									Login
				.clear
			= yield
		%footer
			%p &copy; 2012 Stanford Rosenthal